@import '../../variables';

.container {
  width: 100%;
  padding-left: $space-double;
  padding-right: $space-double;

  @media (min-width: $screen-wide) {
    padding-left: $space-big;
    padding-right: $space-big;
  }
}
