$font-main: 'Work Sans', sans-serif;

$space: 1rem;
$space-half: $space / 2;
$space-med: $space * 1.5;
$space-double: $space * 2;
$space-big: $space * 4;

$screen-wide: 64rem;

$color-dark: #272932;
$color-darker: #050609;
$color-success: #52FFB8;
$color-error: #ED1C24;
