@import '../../variables';

.signInScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: contents;
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
  }

  .content {
    margin-top: $space-big;
  }
}
